@model ProductVM
<!-- Page info -->
<div class="page-top-info">
	<div class="container">
		<h4>@Model.Product.Name Detayları</h4>
		<div class="site-pagination">
			<a href="">Ana Sayfa</a> /
			<a href="">@Model.Product.Category.Name</a>
		</div>
	</div>
</div>
<!-- Page info end -->
<!-- product section -->
<section class="product-section">
	<div class="container">
		<div class="back-link">
			<a href="./category.html"> &lt;&lt; Back to Category</a>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="product-pic-zoom">
					@if (Model.Product.ProductPictures.Any())
					{
						<img class="product-big-img" src="@Model.Product.ProductPictures.FirstOrDefault().Picture" alt="@Model.Product.Name">

					}
					else
					{
						<img class="product-big-img" src="/img/resimler-hazirlaniyor-1000x780.jpg" alt="@Model.Product.Name">

					}
				</div>
				@if (Model.Product.ProductPictures.Count() > 1)
				{
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							@{
								int x = 0;
							}
							@foreach (ProductPicture pp in Model.Product.ProductPictures)
							{
								<div class="pt @(x ==0? "active":"") " data-imgbigurl="@pp.Picture"><img src="@pp.Picture" alt="@pp.Name"></div>
								x++;
							}

						</div>
					</div>
				}
			</div>
			<div class="col-lg-6 product-details">
				<h2 class="p-title">@Model.Product.Name</h2>
				<h3 class="p-price">@String.Format("{0:N}", Model.Product.Price) TL</h3>
				<h4 class="p-stock">
					Stok Durumu:
					@if (Model.Product.Stock > 0)
					{
						<span style="color:green"> Stokta Var</span>
						if (Model.Product.Stock < 20)
						{
							<span style="color:darkorange"> Son @Model.Product.Stock Ürün</span>

						}
					}
					else
					{
						<span style="color:red"> Tükendi</span>

					}

				</h4>



				<div class="quantity">
					<p>Adet</p>
					<div class="pro-qty"><input class="inputQuantity" type="text" value="1"></div>
				</div>
				<button onclick="addCart(@Model.Product.ID,@Model.Product.Stock)" class="site-btn">SEPETE EKLE</button>
				<div id="accordion" class="accordion-area">
					<div class="panel">
						<div class="panel-header" id="headingOne">
							<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Ürün Detayı</button>
						</div>
						<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="panel-body">
								<p>@Html.Raw(Model.Product.Detail)</p>

							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-header" id="headingTwo">
							<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Kargo Detayı </button>
						</div>
						<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="panel-body">

								<p>@Html.Raw(Model.Product.CargoDetail)</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- product section end -->
<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
	<div class="container">
		<div class="section-title">
			<h2>BENZER ÜRÜNLER</h2>
		</div>
		<div class="product-slider owl-carousel">
			@foreach (Product p in Model.RelatedProducts)
			{
				<partial name="_Product" model="@p" />
			}
		</div>
	</div>
</section>
<!-- RELATED PRODUCTS section end -->

<div class="modal fade" id="modalSepet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body"></div>
			
		</div>
	</div>
</div>